.reset-a,
.reset-a:hover,
.reset-a:visited,
.reset-a:focus,
.reset-a:active {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35vw;
}
